<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Foto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <img [src]="novaFoto" *ngIf="novaFoto != undefined">
    <img src="../../../assets/icon/favicon.png" *ngIf="novaFoto == undefined">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col (click)="tirarFoto()">
              <ion-icon size="large" name="camera"></ion-icon>
          </ion-col>
          <ion-col (click)="buscarFoto()">
              <ion-icon size="large" name="images"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
<ion-button expand="full" (click)="salvarFoto()">Salvar</ion-button>

</ion-content>
