ion-content{
    --height: 100%;
    --min-width: 100%;
    background-position: center top;
    --background: url('../../../assets/images/bg-login.jpg') no-repeat center center / cover !important;
    --background-size: 100% 100%

}

.logo{
    margin: 20% 0 16%;
}

.botoes{
    margin-top: 80px;
}