<ion-content class="fundo">

  <div class="logo animated swing">
    <img src="../../../assets/images/logo.png">
  </div>

  <ion-list>
    <ion-item class="animated bounceInRight">
      <ion-label  position="floating">Login</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item class="animated bounceInLeft"> 
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>

  <div>
    <ion-button expand="full" class="botoes animated fadeInUp" (click)="logar()">Logar</ion-button>
  </div>

</ion-content>
