<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Meus Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
 <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list *ngFor="let produto of produtoItem">
   
  <ion-card>
      <a href="list_produtos/{{produto.codigo}}">
      <ion-card-header>
        <ion-card-title>{{produto.nome}}</ion-card-title>
      </ion-card-header>
      <ion-img [src]="serviceUrl.getUrl()+produto.foto"></ion-img>
      <ion-card-content>
        <p>{{produto.descricao}}</p>
      </ion-card-content>
    </a>
      <ion-row *ngIf="produto.idUserProduto == serviceUser.idUser"> 
        <ion-col>
          <ion-chip color="primary" (click)="editProduto(produto)">
            <ion-icon name="create" color="primary">
              <ion-label>Editar</ion-label>
            </ion-icon>
          </ion-chip>
        </ion-col>

        <ion-chip color="danger" (click)="deleteProduto(produto)">
          <ion-icon name="trash" color="danger">
            <ion-label>Apagar</ion-label>
          </ion-icon>
        </ion-chip>
      </ion-row>
  </ion-card>

</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="toProdutos()">
    <ion-icon name="appstore"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>