<ion-content padding>

    <ion-slides pager="true" [options]="slideOpts" class="slide">
        <ion-slide>
          <div class="conteudo">
          <ion-img src="../../../assets/gifs/tela01.gif" class="imagens"></ion-img>
          
          <h1 class="titulo">Bem vindo ao Catalógo Virtual</h1>
          <p class="descricao">Come ele você irá conseguir anunciar de forma simples e rápida!</p>
        </div>
        </ion-slide>
        <ion-slide>
            <div class="conteudo">
                <ion-img src="../../../assets/gifs/tela02.gif" class="imagens"></ion-img>
                
                <h1 class="titulo">Anuncie com ele</h1>
                <p class="descricao">tudo que você precisa em um só lugar!</p>
              </div>
        </ion-slide>
        <ion-slide>
            <div class="conteudo">
                <ion-img src="../../../assets/gifs/tela03.gif" class="imagens"></ion-img>
                
                <h1 class="titulo">Consiga Atrair mais clientes</h1>
                <p class="descricao">Com o aplicativo catalógo virtual você irá mais longe</p>
              </div>
        </ion-slide>

        <ion-slide>
            <ion-button (click)="toIntro()">
              <ion-icon name="arrow-forward"></ion-icon>
                  continuar para o aplitivo
            </ion-button>
        </ion-slide>
      </ion-slides>

</ion-content>
