.slide{
    min-width: 100%;
    min-height:100%;
    --bullet-background: rgb(35, 235, 8);
    --bullet-background-active: rgb(137, 206, 25);
    border:0px solid #000;
}

.conteudo{
    min-width: 100%;
}

.imagens{
    width: 40vh;
    height: 40vh;
    margin: auto;
}

.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    color:rgb(76, 91, 223);
    font-weight: bold;
}

.descricao{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: rgb(19, 17, 17);
    text-align: center;
}